@font-face {
    src: url("../fonts/ProximaNova-Reg.otf");
    font-family: ProximaNova-Reg;
}
@font-face {
    src: url("../fonts/ProximaNova-Black.otf");
    font-family: ProximaNova-Black;
}
@font-face {
    src: url("../fonts/ProximaNova-Bold.otf");
    font-family: ProximaNova-Bold;
}
@font-face {
    src: url("../fonts/ProximaNova-Light.otf");
    font-family: ProximaNova-Light;
}
html, body {
    font-family: "ProximaNova-Reg", "Arial Black", sans-serif;
    background: url("../images/background.png")repeat;
    color: black;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
.uk-container {
    width: 100%;
    max-width: 1920px;
    padding: 0px;
}
/*-header-*/
header {
    background: black;
    color: white;
    border-bottom: 5px solid #589c4e;
    padding: 15px 0;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
.logo_block {
    position: relative;
}
.logo {
    position: absolute;
    top: -15px;
    right: 10%;
    z-index: 950;
}
.uk-navbar {
    background: black;
}
.uk-navbar-nav > li > a {
    color: #a4a4a4;
    font-family: "ProximaNova-Reg", sans-serif;
}
.number {
    color: #3eaa43;
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 20px;
}
.phone {
    display: block;
    background: url("../images/phone.png");
    width: 58px;
    height: 22px;
    position: absolute;
    top: -28px;
    left: 7px;
}
.uk-navbar-nav > li:hover > a {
    background: url("../images/hover.png")no-repeat center top;
    color: #a4a4a4;
    cursor: pointer;
}
.mobile_menu {
    display: none;
    background: url("../images/menu.png");
    width: 31px;
    height: 24px;
}
/*-main-*/
.banner {
    position: relative;
    z-index: 900;
    width: 100%;
}
.uk-overlay {
    z-index: 800;
}
figcaption {
    z-index: 100;
    color: white;
    margin-top: 7%;
}
figcaption h1 {
    color: white;
    font-family: ProximaNova-Black, sans-serif;
}
figcaption p {
    font-size: 18px;
    line-height: 26px;
}
.mobile_banner {
    display: none;
}
.green {
    color: #44a33d;
}
.slogan {
    background-image: -moz-linear-gradient(
            175deg,
            rgba(63, 165, 53, 0) 0%,
            rgba(63, 165, 53, 0.5) 30%,
            rgba(63, 165, 53, 0.99) 55%,
            rgb(63, 165, 53) 55%,
            rgba(63, 165, 53, 0.25) 89%,
            rgba(63, 165, 53, 0) 100%
    );
    background-image: -webkit-linear-gradient(
            175deg,
            rgba(63, 165, 53, 0) 0%,
            rgba(63, 165, 53, 0.5) 30%,
            rgba(63, 165, 53, 0.99) 55%,
            rgb(63, 165, 53) 55%,
            rgba(63, 165, 53, 0.25) 89%,
            rgba(63, 165, 53, 0) 100%
    );
    background-image: -ms-linear-gradient(
            175deg,
            rgba(63, 165, 53, 0) 0%,
            rgba(63, 165, 53, 0.5) 30%,
            rgba(63, 165, 53, 0.99) 55%,
            rgb(63, 165, 53) 55%,
            rgba(63, 165, 53, 0.25) 89%,
            rgba(63, 165, 53, 0) 100%
    );
    padding: 20px;
    font-size: 20px;
}
.slogan_text {
    font-size: 26px;
}
.slogan .small_text {
    font-size: 16px;
}
.slogan .bold_text {
    font-family: ProximaNova-Bold, sans-serif;
    font-size: 30px;
}
.slogan .uk-text-small {
    line-height: 5px;
}
.centre_logo {
    z-index: 900;
    display: block;
    margin: 0px auto;
    margin-top: -7%;
    position: relative;
}
.action_car {
    position: relative;
    width: 90px;
    margin: 0 auto;
}
.road {
    display: block;
    margin-top: -50px;
    z-index: 200;
}
.car {
    position: fixed;
    z-index: 300;
    top: 250px;
    left: -3px;
    width: 100%;
}
.car_img {
    display: block;
    margin: 0 auto;
}
.tree1 {
    position: absolute;
    right: -60px;
    top: 140px;
    z-index: 350;
}
.tree {
    position: absolute;
    left: -60px;
    bottom: 450px;
    z-index: 350;
}
.checkbox_form {
    margin-bottom: 50px;
}
.form_title {
    font-family: ProximaNova-Light, sans-serif;
    font-size: 16px;
}
.form_subtitle {
    font-family: ProximaNova-Bold, sans-serif;
    font-size: 24px;
    color: #41ad49;
}
.checkbox_form p {
    font-family: ProximaNova-Bold, sans-serif;
    font-size: 22px;
    text-align: right;
    display: block;
}
.switcher {
    position: relative;
    z-index: 305;
}
.switcher > input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 40px;
    height: 40px;
}
.switcher > input[type="radio"] + i {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
}
.switcher > input[type="radio"] + i,
.switcher > input[type="radio"] + i:before,
.switcher > input[type="radio"] + i:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.switcher > input[type="radio"]:first-child {
    z-index: 10;
}
.switcher > input[type="radio"]:first-child:checked {
    z-index: 1;
}
.switcher > input[type="radio"]:checked + input[type="radio"] {
    z-index: 10;
}
.switcher > input[type="radio"]:checked + i + label,
.switcher > input[type="radio"]:checked + i + label + label {
    display: none;
}
.switcher > input[type="radio"]:checked + input[type="radio"] + i + label,
.switcher
> input[type="radio"]:checked
+ input[type="radio"]
+ i
+ label
+ label
+ label {
    display: none;
}
.switcher
> input[type="radio"]:checked
+ input[type="radio"]
+ input[type="radio"]
+ i
+ label
+ label,
.switcher
> input[type="radio"]:checked
+ input[type="radio"]
+ input[type="radio"]
+ i
+ label
+ label
+ label {
    display: none;
}

.switcher > input[type="radio"] {
    width: 140px;
    height: 40px;
    left: -3px;
    top: -1px;
}
.switcher > input[type="radio"] + i {
    width: 120px;
    height: 33px;
    margin-top: 2px;
    background-color: white;
    border-radius: 8px;
    color: white;
    font-family: ProximaNova-Bold, sans-serif;
    text-align: center;
    line-height: 49px;
}
.switcher > input[type="radio"] + i:before {
    content: '';
    position: absolute;
    top: -7px;
    left: -3px;
    display: block;
    width: 49px;
    height: 49px;
    background-color: #959595;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.switcher > input[type="radio"]:checked + i {
    background-color: white;
}
.switcher > input[type="radio"]:checked + i:before {
    left: 80px;
    background-color: #4caf50;
    content: "Yes";
    z-index: 15;
}
.switcher > input[type="radio"]:checked + input[type="radio"] + i:before {
    left: 37px;
}
.switcher
> input[type="radio"]:checked
+ input[type="radio"]
+ input[type="radio"]
+ i {
    background-color: white;
}
.switcher
> input[type="radio"]:checked
+ input[type="radio"]
+ input[type="radio"]
+ i:before {
    background-color: #444e59;
    content: "No";
    z-index: 15;
}
.switcher .uk-icon-times {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 0;
    font-size: 16px;
}
.switcher .uk-icon-check {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 0;
    font-size: 16px;
}
.article_description {
    font-size: 18px;
}
.article_block h4 {
    color: #44a33d;
    font-family: ProximaNova-Bold, sans-serif;
}
.article_block p {
    color: #848484;
    margin-bottom: 5px;
    font-family: ProximaNova-Light, sans-serif;
}
.article_block a {
    color: #848484;
    font-family: ProximaNova-Reg, sans-serif;
    text-decoration: underline;
}
.icons {
    background: url("../images/icons.png")no-repeat;
    display: inline-block;
    width: 68px;
    height: 88px;
}
.icons1 {
    background-position: -5px -5px;
}
.icons2 {
    background-position: -83px -5px;
}
.icons3 {
    background-position: -5px -103px;
}
.icons4 {
    background-position: -83px -103px;
}
.icons5 {
    background-position: -161px -5px;
}
/*-footer-*/
footer {
    background: black;
    color: white;
    border-bottom: 5px solid #589c4e;
    padding: 15px 0;
}
footer i {
    font-size: 26px;
    margin: 0 5px;
}
footer a {
    color: white;
}
footer [class*='uk-align-'] {
    margin-bottom: 0px;
}
.foot_number {
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 24px;
}
footer .uk-icon-phone {
    transform: rotate(230deg);
    -webkit-transform: rotate(230deg);
    -moz-transform: rotate(230deg);
    -o-transform: rotate(230deg);
    -ms-transform: rotate(230deg);
}
.line {
    font-size: 30px;
    margin-right: 5px;
}

/*-Media Queries-*/
@media screen and (min-width: 992px) and (max-width: 1110px) {
    .switcher > input[type="radio"]:checked + input[type="radio"] + i:before {
        left: 40px;
    }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .mobile_menu {
        display: inline-block;
        margin-right: 20%;
    }
    .uk-navbar {
        display: none;
    }
    .uk-button:hover, .uk-button:focus {
        background-color: black;
    }
    .uk-offcanvas-bar {
        width: 70%;
        background-color: black;
        border-left: 5px solid #589c4e;
        font-size: 16px;
    }
    .uk-offcanvas-bar li a {
        color: #777678;
    }
    .uk-offcanvas-bar li:hover {
        border-right: 5px solid #589c4e;
        background: #2d2a2c;
    }
    .uk-offcanvas-bar li a:hover {
        color: white;
    }
    .footer_mobile_menu {
        padding-right: 5%;
    }
    .uk-icon-arrow-right {
        margin: 15px;
        cursor: pointer;
        font-size: 24px;
    }
    .nav_social i {
        font-size: 26px;
        margin: 0 5px;
    }
    .nav_social a {
        color: white;
    }
    .uk-icon-map-marker {
        color: #3eaa43;
    }
    .banner {
        background-color: white;
    }
    .banner_img {
        display: none;
    }
    .logo {
        right: 0;
        left: 0;
        margin: 0 auto;
        padding-left: 20%;
    }
    .mobile_banner {
        width: 950px;
        padding-bottom: 50px;
        display: inline-block;
    }
    figcaption {
        margin-top: 15%;
    }
    .centre_logo {
        max-width: 150px;
        height: auto;
        margin-top: -20%;
    }
    .main {
        display: flex;
    }
    .article_side {
        order: 1;
        z-index: 350;
    }
    .form_side {
        order: 2;
        display: flex;
    }
    .checkbox_form p {
        font-size: 16px;
    }
    .mobile_action {
        order: 2;
    }
    .car_img {
        margin-right: 12%;
    }
    .uk-grid + .uk-grid {
        margin-top: 0;
    }
    .switcher > input[type="radio"]:checked + input[type="radio"] + i:before {
        left: 43px;
    }
    .form {
        order: 1;
    }
    .article_side {
        background-color: white;
    }
    .form_side, .article_side {
        padding: 0 10%;
    }
    .wrap {
        width: 100%;
    }
    footer {
        height: 80px;
    }
    .copyright {
        background: #52a564;
        display: inline-block;
        padding: 0px 5px;
    }
    .fix_call {
        position: fixed;
        bottom: 0;
        height: 50px;
        padding: 10px 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: 1000;
    }
    .call_btn {
        width: 80%;
        background: #3eaa43;
        color: white;
        border: none;
        font-family: ProximaNova-Bold, sans-serif;
        font-size: 20px;
        padding: 5px 0;
        cursor: pointer;
    }
}
@media screen and (max-width: 550px) {
    figcaption h1 {
        font-size: 18px;
        line-height: 18px;
    }
    figcaption p {
        font-size: 14px;
        line-height: 16px;
    }
    .slogan {
        padding: 5px 10px;
    }
    .slogan_text {
        font-size: 16px;
    }
    .slogan .small_text {
        font-size: 12px;
    }
    .slogan .bold_text {
        font-size: 20px;
    }
}
